ICP-6/Source Code/flows.json
[{"id":"71b4bc19.31d5c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d44b85af.1f46d8","type":"converter","z":"71b4bc19.31d5c4","name":"","x":360,"y":140,"wires":[["44bf7b4b.569484"]]},{"id":"35b92418.1ff08c","type":"inject","z":"71b4bc19.31d5c4","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["d44b85af.1f46d8"]]},{"id":"44bf7b4b.569484","type":"debug","z":"71b4bc19.31d5c4","name":"Cel to faren","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":140,"wires":[]},{"id":"86503ba9.6aa488","type":"function","z":"71b4bc19.31d5c4","name":"function call","func":"//context.level= !context.level|| false;\n//msg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["98688eb6.c49c3"]]},{"id":"b060da7a.473e78","type":"arduino in","z":"71b4bc19.31d5c4","name":"","pin":"13","state":"INPUT","arduino":"d4fdcfe5.5d624","x":130,"y":280,"wires":[["86503ba9.6aa488"]]},{"id":"98688eb6.c49c3","type":"debug","z":"71b4bc19.31d5c4","name":"Arduino to Dashboard","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":280,"wires":[]},{"id":"607d8829.eab4f8","type":"inject","z":"71b4bc19.31d5c4","name":"Interval","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0","x":120,"y":820,"wires":[["cef67fde.e1b2d","2781cf52.21079","49325a41.55b494"]]},{"id":"cef67fde.e1b2d","type":"delay","z":"71b4bc19.31d5c4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":820,"wires":[["12bbc023.6a96a","9e8bb455.dfe8a8"]]},{"id":"2781cf52.21079","type":"delay","z":"71b4bc19.31d5c4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":920,"wires":[["fc2e7d4f.53675","b79d1972.36e8f8"]]},{"id":"c02a298f.7f7b48","type":"arduino out","z":"71b4bc19.31d5c4","name":"Red","pin":"7","state":"OUTPUT","arduino":"d4fdcfe5.5d624","x":690,"y":740,"wires":[]},{"id":"5bfa51c0.22851","type":"arduino out","z":"71b4bc19.31d5c4","name":"Yellow","pin":"8","state":"OUTPUT","arduino":"d4fdcfe5.5d624","x":690,"y":820,"wires":[]},{"id":"360ee15c.879a3e","type":"arduino out","z":"71b4bc19.31d5c4","name":"Green","pin":"12","state":"OUTPUT","arduino":"d4fdcfe5.5d624","x":670,"y":900,"wires":[]},{"id":"49325a41.55b494","type":"function","z":"71b4bc19.31d5c4","name":"TogglE","func":"context.level= !context.level|| false;\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["c02a298f.7f7b48"]]},{"id":"12bbc023.6a96a","type":"function","z":"71b4bc19.31d5c4","name":"TogglE","func":"context.level= !context.level|| false;\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":840,"wires":[["5bfa51c0.22851"]]},{"id":"fc2e7d4f.53675","type":"function","z":"71b4bc19.31d5c4","name":"Toggle","func":"context.level= !context.level|| false;\nmsg.payload= context.level;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":920,"wires":[["360ee15c.879a3e"]]},{"id":"9e8bb455.dfe8a8","type":"change","z":"71b4bc19.31d5c4","name":"Change Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["c02a298f.7f7b48"]]},{"id":"b79d1972.36e8f8","type":"change","z":"71b4bc19.31d5c4","name":"Change Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1000,"wires":[["5bfa51c0.22851"]]},{"id":"71529668.e03dd8","type":"inject","z":"71b4bc19.31d5c4","name":"Uppercase","topic":"","payload":"HI THIS TO TEST THE LOWERCASE NODE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["1d891e03.823742"]]},{"id":"1d891e03.823742","type":"lower-case","z":"71b4bc19.31d5c4","name":"","x":340,"y":60,"wires":[["86a135d5.6e7668"]]},{"id":"86a135d5.6e7668","type":"debug","z":"71b4bc19.31d5c4","name":"Lower case output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":60,"wires":[]},{"id":"d4fdcfe5.5d624","type":"arduino-board","z":"","device":"COM6"}]