ICP-5/Source code/flows.json
[{"id":"71b4bc19.31d5c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"769abc60.528144","type":"twitter-credentials","z":"","screen_name":"sarathrocks15"},{"id":"98631aed.95f9a8","type":"inject","z":"71b4bc19.31d5c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["1869d72e.b2eb19"]]},{"id":"1869d72e.b2eb19","type":"http request","z":"71b4bc19.31d5c4","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Kansas%20city%20&APPID=f6ccf06846f34432b0fcdd57ec7ae65a","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":220,"wires":[["32ad25f0.7ead1a"]]},{"id":"2f1daf0c.18327","type":"debug","z":"71b4bc19.31d5c4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":120,"wires":[]},{"id":"32ad25f0.7ead1a","type":"function","z":"71b4bc19.31d5c4","name":"statement","func":"var city = msg.payload.name;\nvar newMsg = { payload : \"The Weather in  \" + city +\" at cordinates \"+ msg.payload.coord.lon + \", \"+ msg.payload.coord.lat +\" is \" + msg.payload.weather[0].main + \"(\" + msg.payload.weather[0].description +\")\"};\nreturn [newMsg];","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["2f1daf0c.18327","a1857bc6.7b1328","dcbbb2c9.7c64c"]]},{"id":"a1857bc6.7b1328","type":"e-mail","z":"71b4bc19.31d5c4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"msarath590@gmail.com","dname":"Sarath","x":670,"y":360,"wires":[],"info":"msg.statement"},{"id":"dcbbb2c9.7c64c","type":"twitter out","z":"71b4bc19.31d5c4","twitter":"769abc60.528144","name":"Tweeting","x":750,"y":240,"wires":[]}]